extends ../layouts/one-column

block vars
  - bodyClass = 'page-home'
  - layoutClass = 'layout-one-column'

block body
  //- --------------------------------------------------------------------------
  //- 
  //-     Welcome
  //- 
  //- --------------------------------------------------------------------------
  section.welcome
    article.welcome__illustration
      h1.welcome__logo
        
    div.inner.welcome__inner
      article.welcome__description.section-divider
        h2.heading1 Artisan menuisier ébéniste
        h3.heading2 Je vous accompagne dans vos projets depuis la conception jusqu'au placement.
      article.welcome__offer.section-divider
        ul.offer__list
          li.offer__item
            span.icon.icon-spatula
            div.offer__description
              span.offer__itemtitle Aménagment intérieur
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li.offer__item
            span.icon.icon-archive
            div.offer__description
              span.offer__itemtitle Cuisines
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          li.offer__item
            span.icon.icon-design
            div.offer__description
              span.offer__itemtitle Aménagement extérieur
              span.offer__itemdescription Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      article.welcome__cta
        a.btn(href="#") Obtenir un devis
    
  //- --------------------------------------------------------------------------
  //- 
  //-     Work
  //- 
  //- --------------------------------------------------------------------------
  section.work
    div.inner.work__inner
      h2.heading1 Réalisations récentes
      
      article.work__list
        div.work__item
          div.work__illustration
            a( href="/statics/images/work/bureau01-01-large.jpg", 
               data-fancybox="cl-group-bureau01",
               data-caption="Table de salon en chêne" 
               data-thumb="/statics/images/work/bureau01-01-small.jpg")
               img(src="/statics/images/work/bureau01-01-small.jpg", alt="Table de salon en chêne")
              
          div.work__description
            div.work__title Table de salon en chêne
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
        div.work__item
          div.work__illustration
            a( href="/statics/images/work/cuisine01-01-large.jpg", 
               data-fancybox="cl-group-cuisine01",
               data-caption="Table de salon en chêne" 
               data-thumb="/statics/images/work/cuisine01-01-small.jpg")
               img(src="/statics/images/work/cuisine01-01-small.jpg", alt="Cuisine équipée sur mesure en frêne")
            div.hidden
              - var n = 1;
              while n++ < 3
                a(
                  data-fancybox="cl-group-cuisine01", 
                  data-caption="Table de salon en chêne", 
                  data-thumb="/statics/images/work/cuisine01-0"+n+"-small.jpg", 
                  href="/statics/images/work/cuisine01-0"+n+"-large.jpg")
                  img(src="/statics/images/work/cuisine01-0"+n+"-small.jpg", alt="Table de salon en chêne")
          div.work__description
            div.work__title Cuisine équipée sur mesure en frêne
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
        div.work__item
          div.work__illustration
            a( href="/statics/images/work/cuisine04-01-large.jpg", 
               data-fancybox="cl-group-cuisine04",
               data-caption="Table de salon en chêne" 
               data-thumb="/statics/images/work/cuisine04-01-small.jpg")
               img(src="/statics/images/work/cuisine04-01-small.jpg", alt="Escalier de coin")
                 
          div.hidden
            - var n = 1;
            while n++ < 3
              a(
                data-fancybox="cl-group-cuisine04", 
                data-caption="Table de salon en chêne", 
                data-thumb="/statics/images/work/cuisine04-0"+n+"-small.jpg", 
                href="/statics/images/work/cuisine04-0"+n+"-large.jpg")
                img(src="/statics/images/work/cuisine04-0"+n+"-small.jpg", alt="Table de salon en chêne")
          div.work__description
            div.work__title Escalier de coin
            span.work__except Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    
    
  //- --------------------------------------------------------------------------
  //- 
  //-     Contact
  //- 
  //- --------------------------------------------------------------------------
  section.contact
    div.inner.contact__inner
      div.contact__infos
        h2.heading1 Contact
        h3.heading2 Un projet en tête ? Contacter moi, je me ferai un plaisir de vous accompagner dans toutes les étapes de votre projet.
        
        a(href="tel:+32 488 88 88 88") +32 488 88 88 88 
        br
        a(href="mailto:benoit@artzdesign.com") benoit@artzdesign.com
      div.contact__cta
        a.btn(href="#") Obtenir un devis
      div.contact__testimony
        
      
      
      
